@model IEnumerable<Concesionario.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <div class="header-container">
        <h1>Nuestras unidades disponibles</h1>
    </div>


    @foreach (var item in Model)
    {
        <!--Item-->
        <div class="car-item">

            <!--Img-->
            <img src="~/img/ford/ford-focus-iii.jpg" />

            <!--Header-->
            <div class="car-item-header">
                <h3>@item.Descripcion</h3>
            </div>

            <!--Description-->
            <div class="car-item-description">
                <ul>
                    <li>
                        <p> Modelo: @item.Modelo </p>
                    </li>
                    <li>
                        <p>Precio: $@item.Precio </p>
                    </li>
                    <li>
                        <p> Estado: @item.Estado </p>
                    </li>
                </ul>
            </div>

            @*
                <!--Footer-->
                <div class="car-item-footer">
                    <ul>
                        <li>
                            <a class="car-item-button" asp-controller="Cars" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        </li>
                        <li>
                            <a class="car-item-button" asp-controller="Cars" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </li>
                        <li>
                            <a class="car-item-button" asp-controller="Cars" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </li>
                    </ul>
                </div>
            *@
        </div>
    }

    <p>
        <a asp-action="Create">Create New</a>
    </p>

</div>
