@model DetailsView

@{
    ViewBag.Title = "Detalles producto";

    //el operador de uso combinado de NULL ?? devuelve el valor del operando izquierdo si no es null;
    //caso contrario evalúa el operando derecho y devuelve su resultado
    //var rutaFoto = "~/images/" + (Model.Producto.RutaFoto ?? "cafe.jpg");
    var rutaFoto = "~/images/" + Model.Producto.RutaFoto;
}

<div class="text-center text-white">
    <h2>@Model.Titulo</h2>
</div>
<div class="row justify-content-center m-3">
        <div class="card m-3 m-4 text-light">
            <div class="card-header text-center bg-dark">
                <h1>@Model.Producto.Descripcion</h1>
            </div>
            <div class="card-body text-center bg-dark">
                <img class="card-img-top" src="@rutaFoto" asp-append-version="true" />

                <h4>ID Producto: @Model.Producto.Id</h4>
                <h4>Descripcion: @Model.Producto.Descripcion</h4>
                <h4>Precio: $@Model.Producto.Precio</h4>
            </div>
            <div class="card-footer text-center bg-dark">
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Volver</a>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Producto.Id" class="btn btn-primary">Editar</a>
                <a href="#" class="btn btn-danger">Borrar</a>
            </div>
        </div>
</div>











@*<header>
        <h3>@ViewData["Cabecera"]</h3>
        @{
            var prod = ViewData["Producto"] as Ejemplo1.Models.Producto;
        }
    </header>
    <div>
        Nombre: @prod.Descripcion   Precio: @prod.Precio
    </div>
    <h3>Fuertemente tipado</h3>
    <div>
        Nombre: @Model.Descripcion   Precio: @Model.Precio
    </div>*@