@model DetailsView

@{
    ViewBag.Title = "Detalles producto";
}

<div class="sticky-top text-center text-white">
    <h2>@Model.Titulo</h2>
</div>
<div class="row justify-content-center m-3 text-white">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header text-center">
                <h1>@Model.Producto.Descripcion</h1>
            </div>
            <div class="card-body bg-dark text-center">
                <h4>ID Producto: @Model.Producto.Id</h4>
                <h4>Descripcion: @Model.Producto.Descripcion</h4>
                <h4>Precio: $@Model.Producto.Precio</h4>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary">Ver</a>
                <a href="#" class="btn btn-primary">Editar</a>
                <a href="#" class="btn btn-danger">Borrar</a>
            </div>
        </div>
    </div>
</div>











@*<header>
        <h3>@ViewData["Cabecera"]</h3>
        @{
            var prod = ViewData["Producto"] as Ejemplo1.Models.Producto;
        }
    </header>
    <div>
        Nombre: @prod.Descripcion   Precio: @prod.Precio
    </div>
    <h3>Fuertemente tipado</h3>
    <div>
        Nombre: @Model.Descripcion   Precio: @Model.Precio
    </div>*@