@model List<Producto>

@{
    ViewBag.Title = "Cafetería";
}


<div class="card-deck">
    @foreach (Producto prod in Model)
    {
        //var rutaFoto = "~/images/" + (prod.RutaFoto ?? "cafe.jpg");
        var rutaFoto = "~/images/" + prod.RutaFoto;
        <div class="card-m3 m-4">
            <div class="card-header text-center text-white">
                <h3>@prod.Descripcion</h3>
            </div>
            <img class="card-img-top imagen" src="@rutaFoto" asp-append-version="true" />
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@prod.Id" class="btn btn-primary">Ver</a>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@prod.Id" class="btn btn-primary">Editar</a>
                <a asp-controller="Home" asp-action="Delete" asp-route-id="@prod.Id" class="btn btn-danger">Borrar</a>
            </div>
        </div>
    }
</div>








@*
    <table>
        <tr>
            <th>Id</th>
            <th>Descripcion</th>
            <th>Precio</th>
        </tr>
        <tr>
            @foreach (var item in Model)
            {
             <tr>
                <td>@item.Id</td>
                <td>@item.Descripcion</td>
                <td>@item.Precio</td>
             </tr>
            }
         </tr>
    </table>
*@